/* Colours */
:root {
    --gold: #D4B254;
    --gold-dark: #C19F41;
    --green: #77DD22;
    --white: #FFFFFF;
    --grey-light: #EEEEEE;
    --grey-mid: #777777;
    --grey-dark: #222222;
    --black: #000000;
    --shadow-mid: #22222210;
    --shadow-dark: #22222222;
    --transparent: #00000000;
    --logo-width: 100px;
    --header-height: 9em;
    --header-height-s: 3em;
}
body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #efe5cb;
}
.about {
    width: 100%;
    color: #161515;
    text-align: start;
    opacity: 1;
}
.about_section {
    width: 100%;
    text-align: center;
    margin-top: 170px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_section h2 {
    font-size: 34px;
    color: var(--gold-dark);
    font-weight: 300;
    text-transform: uppercase;
    margin: 10px 0;
}
.about_section h1 {
    font-size: 54px;
    color: #161515;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0;
}
.about-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
}
.description {
    display: flex;
    width: 1000px;
    text-align: start;
    line-height: 25px;
    
}
.description p{
    font-weight: 100;
}
.main__gallerye {
    text-align: center;
    color: var(--black);
}
.main__gallerye .article {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
}
.main__gallerye .article__picture {
    flex: 0 1 25%;
    margin: 1em;
}
.main__gallerye .article__picture img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.main__gallerye .article__picture img:hover {
    transform: scale(1.05);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .about_section h2 {
        font-size: 28px;
    }
    .about_section h1 {
        font-size: 40px;
    }
    .descption {
        width: 100%;
        padding: 0 10px;
    }
    .main__gallerye .article {
        flex-wrap: wrap;
        width: 100%;
    }
    .main__gallerye .article__picture img {
        width: 100%;
    }
    footer {
        padding: 10px;
        text-align: center;
    }
    .footer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
    }
    .footer-section .imga {
        text-align: start;
        width: 90%;
    }
    .footer-section ul {
        padding: 0;
        list-style: none;
    }
}

@media (max-width: 480px) {
    .about_section h2 {
        font-size: 24px;
    }
    .about_section h1 {
        font-size: 32px;
    }
    .footer-section {
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }
    .imga p {
        font-size: 12px;
        margin: 0;
        text-align: start;
    }
    footer ul li h4 {
        font-size: 10px;
    }
    footer ul li {
        text-align: start;
    }
    footer h4, footer h3 {
        font-size: 12px;
    }
    .footer-section .imga {
        text-align: start;
        width: 100%;
    }
    .main__gallerye .article {
        flex-wrap: wrap;
        width: 100%;
    }
    .main__testimonials h5 {
        text-align: start;
    }
    .main__testimonials h3 {
        font-size: 17px;
    }
    h3 {
        font-size: 16px;
    }
    h2 {
        font-size: 18px;
    }
}
