/* Colors */
:root {
    --gold: #D4B254;
    --gold-dark: #C19F41;
    --green: #77DD22;
    --white: #FFFFFF;
    --grey-light: #EEEEEE;
    --grey-mid: #777777;
    --grey-dark: #222222;
    --black: #000000;
    --shadow-mid: #22222210;
    --shadow-dark: #22222222;
    --transparent: #00000000;
    --logo-width: 100px;
    --header-height: 9em;
    --header-height-s: 3em;
}

/* Typography */
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.1em;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.1em;
    font-weight: 800;
    line-height: 1.25em;
    margin-bottom: .6em;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    font-weight: 800;
    line-height: 1.25em;
    margin-bottom: 1em;
}
h4, .h4 {
    font-family: 'Roboto', sans-serif;
    font-size: .6em;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 2em;
    margin-bottom: .5em;
}
h5 {
    font-family: 'Roboto', sans-serif;
    font-size: .9em;
    font-weight: 300;
    line-height: 1.7em;
    color: var(--grey-mid);
    margin-bottom: 1em;
}
h6 {
    font-family: 'Roboto', sans-serif;
    font-size: .75em;
    font-weight: 300;
    line-height: 1.7em;
    color: var(--grey-mid);
}
/* Text Utilities */
.text-gold {
    color: var(--gold);
}
.text_grey {
    color: var(--grey-dark);
}
.main {
    width: 100%;
}
.main__splash {
    height: 100vh;
    background-image: url('https://i.imgur.com/QYMyh2u.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: var(--white);
}
.main__splash .article {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    max-width: 600px;
    margin: 0 auto;
}
.main__blurb .article {
    display: flex;
    flex-flow: row wrap;
}
.main__blurb .article__picture {
    overflow: hidden;
    flex-basis: 50%;
    order: 1;
    margin-bottom: -.1em;
}
.main__blurb .article__picture img {
    width: 100%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
    transition: calc(-2em);
}
.main__blurb .article__content {
    flex-basis: 50%;
    padding: 40px;
    order: 2;
    box-sizing: border-box;
}

.main_blurb .article__content h2 {
    font-size: 25px;
    font-weight: 600;
}
.main_blurb .article__content h6 {
    font-size: 12px;
    width: 100%; /* Make it responsive */
}
.main__testimonials {
    width: auto;
    background: var(--grey-light);
    text-align: center;
    padding: 4em;
}
.main__testimonials .article {
    display: block;
}
.main__testimonials .article__content {
    width: 50%;
    margin: auto;
}
.main__gallery {
    text-align: center;
    color: var(--black);
    padding-top: 3em;
}
.main__gallery .article {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    width: 60%;
    margin: auto;
}
.main__gallery .article__picture {
    flex: 0 1 25%;
    margin: 1em; /* Spacing between images */
}
.main__gallery .article__picture img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.main__gallery .article__picture img:hover {
    transform: scale(1.05);
}


/* Buttons */
.button1 {
    padding: 0.80em 5em;
    background-color: var(--gold);
    text-decoration: none;
    color: var(--white);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button1:hover {
    background-color: var(--gold-dark);
}
.button-max {
    padding: 0.80em 5em;
    border: 1px solid var(--gold);
    background-color: transparent;
    color: var(--gold);
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}
.button-max:hover {
    background-color: var(--gold);
    color: var(--white);
}

/* Responsive Design */
@media (max-width: 1024px) {
    .main__gallery .article__picture img {
        width: 100%;
        height: auto;
    }
    .main__blurb .article__content {
        flex-basis: 100%;
        order: 1;
        padding: 4em 3em;
    }
    .main__blurb .article__picture {
        flex-basis: 100%;
        order: 2;
    }
    .footer-section {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }
    .imga p {
        width: 100%;
        text-align: start;
    }
    
    footer ul {
        margin-top: 20px;
    }
}
@media (max-width: 768px) {
    .main__gallery .article__picture img {
        width: 100%;
    }
    .main__testimonials .article__content {
        width: 90%;
    }
    .article__content h6 {
        font-size: 1em; 
        text-align: start;
    }
    .article__content h2 {
        text-align: start;
    }
    .button-max {
        padding: 0.8em 2em; 
    }
    .section-max {
        font-size: 1.5em; 
        text-align: start;
    }
    .main__gallery .article {
        flex-wrap: wrap;
        width: 100%;
    }
}
@media (max-width: 480px) {
    .main__gallery .article {
        flex-wrap: wrap;
        width: 100%;
    }
    .main__testimonials h5 {
       text-align: start;
    }
    .main__testimonials h3{
        font-size: 17px;
    }
    h3{
        font-size: 16px;
    }
    h2{
        font-size: 18px;
    }
}
