/* Basic gallery styling */
.gallery {
    padding: 20px;
    text-align: center;
    margin-top: 150px;
  }
  .gallery_section {
    margin: 0 auto;
    max-width: 1200px;
  }
  .gallery_section h2 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .gallery_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }
  .gallery_grid img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  .gallery_grid img:hover {
    transform: scale(1.05);
  }

  /* Popup styling */
  /* plan.css */

/* Popup Container */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup Content */
.popup_inner {
  position: relative;
  max-width: 80%;
  max-height: 80%;
}

.popup_inner img {
  max-width: 100%;
  max-height: 100%;
}

/* Close Button Styling */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: inherit; /* This will inherit the color set by the parent component */
}

/* Optional: Add some hover effect to the close button */
.close:hover {
  color: red; /* Change color on hover if desired */
}
